.failure-page{
    background-color: #F1F1F1;
    height: 100vh;
}
.failure-img{
    margin: 0px 0px 0px 440px;
    object-fit: contain;
    width: 650px;
}
.failure-txt{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 40px;
    color: #EA4335;
    margin: -50px 0px 0px 0px;
}
.failure-subtxt{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    color: grey;
}
.retry-btn{
    padding: 15px 50px;
    background-color: #EA4335;
    border: none;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    margin: 80px 0px 0px 695px;
    font-size: 16px;
    cursor: pointer;
}
/* Mobile responsive */
@media only screen and (max-device-width: 480px){
    .failure-img{
        margin: 40px 0px 0px 0px;
        width: 375px;
    }
    .failure-txt{
        font-size: 20px;
        margin: -20px 0px 0px 0px;
    }
    .failure-subtxt{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        text-align: center;
        font-size: 12px;
        color: grey;
    }
    .retry-btn{
        padding: 12px 35px;
        border: none;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 800;
        margin: 80px 0px 0px 130px;
        font-size: 14px;
        cursor: pointer}
    }