.contact-container{
    display: flex;
}
.contact-content{
    background-color: white;
    margin-left: 80px;
    padding: 150px 0px;
}
.contact-heading{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 25px;
    margin: 0;
}
.contact-desc{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    max-width: 600px;
    color: #999999;
    margin: 0;
}
.contact-subheading{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    margin-top: 70px;
}
.contact-details{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    max-width: 400px;
    color: #999999;
    font-size: 15px;
    margin-top: 7px;
}
.contact-email{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #999999;
    font-size: 15px;
    margin: 30px 0px 0px;
}
.contact-phone{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #999999;
    font-size: 15px;
    margin: 0;
}

/* form section */
.contact-form{
    padding: 200px 0px;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}
.contact-input{
    padding: 12px 25px;
    width: 300%;
    border: 0.5px solid #d0d0d0;
    margin-bottom: 15px;
    color: #afafaf;
    border-radius: 0;
    cursor: pointer;
    line-height: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}
.contact-input-textarea{
    padding: 12px 25px 100px 25px;
    width: 300%;
    border: 0.5px solid #d0d0d0;
    margin-bottom: 15px;
    color: #afafaf;
    border-radius: 0;
    cursor: pointer;
    line-height: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}
.contact-btn{
    background-color: #1e1e1e;
    color: #fff;
    font-size: 12px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: .12em;
    padding: 12px 37px;
    border: 1px solid transparent;
    cursor: pointer;
}
.contact-btn:hover{
    transition: all 0.3s;
    background-color: #c59d5f;
}

/* Mobile responsive */
@media only screen and (max-device-width: 480px){
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .contact-content{
        background-color: white;
        margin-left: 30px;
        padding: 95px 0px 20px 0px;
    }
    .contact-heading{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 800;
        font-size: 25px;
        margin: 0;
    }
    .contact-desc{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 18px;
        max-width: 300px;
        color: #999999;
        margin: 0;
    }
    .contact-subheading{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 800;
        font-size: 16px;
        margin-top: 70px;
    }
    .contact-details{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        max-width: 300px;
        color: #999999;
        font-size: 15px;
        margin-top: 7px;
    }
    .contact-email{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        color: #999999;
        font-size: 15px;
        margin: 30px 0px 0px;
    }
    .contact-phone{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        color: #999999;
        font-size: 15px;
        margin: 0;
    }

    /* form section */
.contact-form{
    padding: 5px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}
.contact-input{
    padding: 12px 25px;
    width: 80%;
    border: 0.5px solid #d0d0d0;
    margin: 0px 10px 15px 10px;
    color: #afafaf;
    border-radius: 0;
    cursor: pointer;
    line-height: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}
.contact-input-textarea{
    padding: 12px 25px 100px 25px;
    width: 80%;
    border: 0.5px solid #d0d0d0;
    margin: 0px 10px 15px 10px;
    color: #afafaf;
    border-radius: 0;
    cursor: pointer;
    line-height: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}
.contact-btn{
    background-color: #1e1e1e;
    color: #fff;
    font-size: 12px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: .12em;
    padding: 12px 7px;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 0px 10px;
}
.contact-btn:hover{
    background-color: #c59d5f;
}
}