.img-container{
    height: 100vh;
    width: auto;
    background-image: url('../img/landing.jpg');
    object-fit: contain;
    background-position: center;
    background-size: cover;
   margin-top: -25px;
}
.welcome-txt{
    color: rgb(197, 157, 95); 
    font-family: 'Merriweather', serif;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    padding-top: 250px;
}
.landing-txt{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 800;
    font-size: 100px;
    color: white;
    text-align: center;
    margin: 0px;
}
.landing-desc{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 0px;
}
.landing-subtitle{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    color: rgb(197, 157, 95); 
}


/* nature section */
.nature-section{
    height: 70vh;
    background-image: url('../img//nature-section.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 90px 0px;
}
.nature-heading{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: white;
    padding-top: 150px;
}
.nature-desc{
    color: white;
    margin: 0px 180px;
    text-align: center;
}
.nature-btn{
    border: none;
    width: 200px;
    height: 51px;
    background-color: rgb(197, 157, 95);
    color: white;
    margin-left: 660px;
    margin-top: 35px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
.nature-btn:hover{
    transition: all 0.3s;
    background-color: #333132;
    color:  rgb(197, 157, 95);
}

/* services section */
.services-section{
    display: flex;
    margin: 30px 0px;
}
.services{
    margin: 10px 40px;
}
.services-icon{
    size: 80px;
    margin: 10px 0px 0px 110px;
    margin-top: 80px;
    color: rgb(197, 157, 95);
}
.services-heading{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}
.services-desc{
    color: #999;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

/* map section */
.map-section{
    height: 60vh;
    background-color: #eee;
    margin-top: 100px;

}
.map{
    width: 100%;
    height: 100%;
    border: none;
}

/* gallery section */
.gallery{
    display: flex;
    margin: 0;
}
.gallery-row{
    margin: 0;
}
.gallery-content{
    background-color: #fff;
    width: 380px;
    height: 200px;
}
.gallery-heading{
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 60px;
}
.gallery-desc{
    color: #999;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    margin-left: 20px;
    margin-right: 20px;
}
.gallery-btn{
    color: rgb(197, 157, 95); 
    text-decoration: underline;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    margin-left: 20px;
    cursor: pointer;
}
.gallery-btn:hover{
    transition: all 0.3s;
    color: #333132;
}
.gallery-img{
    object-fit: contain;
    width: 380px;
    margin: 0;
}

/* Mobile responsive */
@media only screen and (max-device-width: 480px){
    .img-container{
        height: 102vh;
       margin-top: -25px;
    }
    .welcome-txt{
        font-size: 18px;
        padding-top: 250px;
    }
    .landing-txt{
        font-size: 45px;
        color: white;
        text-align: center;
        margin: 0px;
    }
    .landing-desc{
        font-size: 18px;
        margin: 0px;
    }
    .landing-subtitle{
        font-family: 'Nunito Sans', sans-serif;
        text-align: center;
        color: rgb(197, 157, 95); 
    }


    /* nature section */
.nature-section{
    height: 100vh;
    background-image: url('../img//nature-section.jpg');
    margin: 90px 0px 0px 0px;
}
.nature-heading{
    font-size: 35px;
    padding-top: 250px;
}
.nature-desc{
    margin: 0px 18px;
    line-height: 25px;
}
.nature-btn{
    width: 200px;
    height: 51px;
    margin-left: 90px;
    margin-top: 35px;
}

/* services section */
.services-section{
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}
.services{
    margin: 10px 50px;
}
.services-icon{
    size: 80px;
    margin: 50px 100px 0px 100px;
    color: rgb(197, 157, 95);
}
.services-heading{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}
.services-desc{
    color: #999;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

/* map section */
.map-section{
    height: 50vh;
    background-color: #eee;
}
.map{
    width: 100%;
    height: 100%;
    border: none;
}

/* gallery section */
.gallery{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.gallery-content{
    background-color: #fff;
    width: 350px;
    height: 350px;
}
.gallery-heading{
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 60px;
}
.gallery-desc{
    color: #999;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    margin-left: 20px;
    margin-right: 20px;
}
.gallery-btn{
    color: rgb(197, 157, 95); 
    text-decoration: underline;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    margin-left: 20px;
    cursor: pointer;
}
.gallery-img{
    object-fit: contain;
    width: 100%;
    margin: 0;
}
}