.heading-section{
    height: 13vh;
    background-color: #eee;
    display: flex;
}
.main-text{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 35px 80px;
    font-size: 18px;
}
.nav-txt{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 15px; 
    padding: 25px 0px;
    margin-left: 840px;
    cursor: pointer;
    text-decoration: none;
    font-style: none;
}
.nav-subtxt{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 15px; 
    padding: 25px 0px;      
}

/* image section */
.classic-container{
    display: flex;
    margin: 0px 0px 0px 70px;
}
.classic-images-container{
    max-width: 200px;
    margin-top: 60px;
}
.classic-main-img{
    object-fit: contain;
    width: 820px;
}
.sub-images{
    display: flex;
}
.classic-sub-img{
    object-fit: contain;
    width: 250px;
    margin: 80px 10px;
}

/* booking form section */
.classic-booking-form{
    margin-top: 60px;
    margin-left: 675px;
    height: 120vh;
    width: 30%;
    background-color: #333132;
}
.form-heading{
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    padding: 20px 0px;
}
.classic-input-feilds{
    display: flex;
    flex-direction: column;
}
.classic-booking-input{
    padding: 15px 25px;
    margin: 10px 8px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    border:0.5px solid #555;
    background-color: #333132;
    color: #afafaf;
}
.classic-booking-price{
    padding: 15px 25px;
    margin: 10px 8px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    background-color: #333132;
    color: #afafaf;
}
.classic-booking-input > option{
    background-color: white;
}
.classic-booking-input::placeholder{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color: #afafaf;
}
.classic-booking-text{
    margin-top: 5px;
    margin-left: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #c7c7c7;
}
.classic-booking-btn{
    border: none;
    width: 300px;
    height: 51px;
    background-color: rgb(197, 157, 95);
    color: white;
    margin-left: 60px;
    margin-top: 5px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
.classic-booking-btn:hover{
    background-color: white;
    color:  rgb(197, 157, 95);
}


.room-details{
    display: flex;
}
.room-heading{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    margin-left: 70px;
    font-size: 22px;
}
.information-heading{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    margin-left: 50px;
    font-size: 20px;
}
.information-desc{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #999999;
    font-size: 15px;
}
.section{
    margin-left: 280px;
    max-width: 700px;
}
.amenities-heading{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 20px;
}
.list-container{
    display: flex;
}
.amenities-li{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #999999;
    list-style: none;
    padding: 20px 40px;
    font-size: 15px;
}
.room-dsc-services-heading{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 20px;
}
.services-li{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #999999;
    font-size: 15px;
}
.footer{
    margin-top: 0px;
}
.line{
    /* border: 2px solid grey; */
    height: 1px;
   background-color: #999999;
   margin: 50px 0px;
}

/* Mobile responsive */
@media only screen and (max-device-width: 480px){
    .heading-section{
        height: 10vh;
        background-color: #eee;
        display: flex;
        flex-direction: column;
    }
    .main-text{
        margin: 0;
        padding: 22px 20px;
        font-size: 18px;
    }
    .nav-txt{
        display: none;
    }
    .nav-subtxt{
        display: none;
    }

    /* image section */
.classic-container{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 25px;
}
.classic-images-container{
    max-width: 200px;
    margin-top: 60px;
}
.classic-main-img{
    object-fit: contain;
    width: 320px;
}
.sub-images{
    display: none;
}

/* booking form section */
.classic-booking-form{
    margin-top: 60px;
    margin-left: 5px;
    height: 140vh;
    width: 90%;
}
.form-heading{
    font-size: 18px;
    padding: 15px 0px;
}
.classic-input-feilds{
    display: flex;
    flex-direction: column;
}
.classic-booking-input{
    padding: 15px 25px;
    margin: 10px 8px;
}
.classic-booking-text{
    margin-top: 5px;
    margin-left: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #c7c7c7;
}
.classic-booking-btn{
    border: none;
    width: 250px;
    height: 48px;
    color: white;
    margin-left: 30px;
    margin-top: 7px;
    font-size: 15px;
}
.room-details{
    display: flex;
    flex-direction: column;
}
.room-heading{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 22px;
    margin: 80px 0px 0px 0px ;
}
.information-heading{
    margin-left: 50px;
    font-size: 20px;
    text-align: center;
    margin: 50px 0px 0px 0px ;
}
.information-desc{
    font-size: 15px;
}
.section{
    margin-left: 20px;
    margin-right: 20px;
    max-width: 400px;
}
.amenities-heading{
    text-align: center;
    font-size: 20px;
}
.list-container{
    display: flex;
    flex-direction: column;
}
.amenities-li{
    padding: 10px 80px;
    font-size: 15px;
}
.services-heading{
    text-align: center;
    font-size: 20px;
}
.services-li{
    font-size: 15px;
}

}