/* landing section */
.abt-img-container{
    height: 90vh;
    width: auto;
    /* background-image: url('../Landing-page/img/landing.jpg'); */
    background-image: url('./landing-2.jpg');
    object-fit: contain;
    background-position: center;
    background-size: cover;
   margin-top: -25px;
}
.abt-welcome-txt{
    color: rgb(197, 157, 95);
    font-family: 'Merriweather', serif;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    padding-top: 250px;
}
.abt-landing-txt{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 800;
    font-size: 100px;
    color: white;
    text-align: center;
    margin: 0px;
}

/* commitment section */
.commitment-section{
    display: flex;
}
.subheading{
    color: rgb(197, 157, 95);
    font-family: 'Merriweather', serif;
    font-style: italic;
    margin: 180px 0px 0px 0px;
}
.abt-heading{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 40px;
    margin: 0;
}
.commitment-desc{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    max-width: 600px;
    color: #999;
    margin: 15px 0px;
    line-height: 32px;
}

/* we are section */
.we-are-section{
    background-color: #f7f5f6;
    display: flex;
    padding: 80px 0px;
}
.we-are-content{
    margin: 0 40px;
}
.we-are-txt{
    color: rgb(197, 157, 95);
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 15px;
}
.we-are-heading{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
}
.we-are-desc{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    max-width: 430px;
    color: #999;
    margin: 5px 0px;
    line-height: 25px;
    text-align: left;
}

/* star section */
.star-section{
    display: flex;
    margin-top: 40px;
}
.star-sec-container{
    display: flex;
    margin-top: 70px;
    margin-left: 250px; 
}
.star-sec-icon{
    margin-top: 15px;
    margin-right: 22px;
}
.star-sec-icon:hover{
    color: rgb(197, 157, 95);
}
.star-content-heading{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
}
.star-content-heading:hover{
    color: rgb(197, 157, 95);
}
.star-content-desc{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #999;
    max-width: 400px;
}
.food-img{
    object-fit: contain;
    width: 600px;
    margin-left: 80px;
}

/* vintage section */
.vintage-section{
    height: 40vh;
    width: 100%;
    background-color: rgb(197, 157, 95);
    margin: 100px 0px 0px 0px;
    display: flex;
}
.vintage-logo{
    object-fit: contain;
    width: 220px;
    margin: 80px 0px 0px 100px;
}
.vintage-heading{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 40px;
    margin: 80px 0px 0px 160px;
}
.vintage-desc{
    max-width: 850px;   
    color: white;
    margin: 20px 0px 0px 160px;
}


/* Mobile responsive */
@media only screen and (max-device-width: 480px){
    /* landing section */
.abt-img-container{
    height: 90vh;
    width: auto;
    background-image: url('./landing-2.jpg');
    object-fit: contain;
    background-position: center;
    background-size: cover;
   margin-top: -25px;
}
.abt-welcome-txt{
    color: white;
    font-size: 15px;
    padding-top: 280px;
}
.abt-landing-txt{
    font-size: 80px;
    margin: 0px;
}

/* commitment section */
.commitment-section{
    display: flex;
    flex-direction: column;
}
.commitment-img{
    object-fit: contain;
    width: 250px;
    margin-left: 80px;
    margin-top: 25px;
}
.subheading{
    text-align: left;
    margin: 40px 0px 0px 40px;
}
.abt-heading{
    text-align: left;
    font-size: 33px;
    margin-top: 10px;
    margin-left: 40px;
}
.commitment-desc{
    text-align: left;
    font-size: 18px;
    max-width: 400px;
    margin: 15px 0px;
    line-height: 30px;
    margin-left: 40px;
    margin-right: 35px;
    padding-bottom: 40px;
}


/* we are section */
.we-are-section{
    flex-direction: column;
    padding: 80px 0px;
}
.we-are-content{
    margin: 0 40px;
}
.we-are-txt{
    font-size: 17px;
}
.we-are-heading{
    font-size: 18px;
}
.we-are-desc{
    font-size: 15px;
    max-width: 430px;
    margin: 5px 0px;
    line-height: 25px;
    text-align: left;
}

/* star section */
.star-section{
    flex-direction: column;
    margin-top: 20px;
}
.star-sec-container{
    margin-top: 70px;
    margin-left: 20px; 
}
.star-sec-icon{
    margin-top: 15px;
    margin-right: 22px;
}
.star-sec-icon:hover{
    color: rgb(197, 157, 95);
}
.star-content-heading{
    font-size: 16px;
}
.star-content-heading:hover{
    color: rgb(197, 157, 95);
}
.star-content-desc{
    font-size: 15px;
    max-width: 400px;
}
.food-img{
    object-fit: contain;
    width: 280px;
    margin-left: 50px;
    margin-top: 30px;
}

/* vintage section */
.vintage-section{
    height: 110vh;
    width: 100%;
    margin: 100px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}
.vintage-logo{
    object-fit: contain;
    width: 220px;
    margin: 80px 0px 0px 40px;
}
.vintage-heading{
    font-size: 35px;
    margin: 60px 0px 0px 40px;
    text-align: left;
}
.vintage-desc{
    max-width: 450px; 
    font-size: 16px;
    line-height: 30px;  
    margin: 20px 20px 0px 40px;
}
}