.footer{
    padding: 86px 0 39px;
    background-color: #333132;
    display: flex;
    margin: 0;
}
.footer-rows{
    width: auto;
    padding-left: 80px;
    padding-right: 60px;
}
.footer-heading{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: rgb(197, 157, 95); 
    text-align: center;
}
.footer-desc{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: white;
    text-align: center;
}
.footer-icon{
    color: rgb(197, 157, 95); 
    padding: 30px;
    cursor: pointer;
}
.footer-copyright{
    color: rgba(255,255,255,.25);
    padding: 86px 0 39px;
    background-color: #333132;
    margin: 0;
    text-align: center;
}

/* Mobile responsive */
@media only screen and (max-device-width: 480px){
    .footer{
        padding: 86px 0 39px;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .footer-heading{
        font-size: 20px;
        color: rgb(197, 157, 95); 
        text-align: center;
    }
    .footer-desc{
        font-size: 15px;
    }

    .footer-icon{
        padding: 10px;
        margin-left: 15px;
        margin-top: 20px;
    }
    .footer-copyright{
        padding: 46px 0 39px;
        margin: 0;
        font-size: 1
        0px;
    }
}